// FONTS
$font-primary: 'Asap', sans-serif;
$font-secondary: 'Karla', sans-serif;

// COLORS
$color-white: #fff;
$color-dark: #202020;
$color-grey: #666;
$color-grey-lighten: #bababa;
$color-green: #2ec06c;

$colors: (
    facebook-f:   #3b5998,
    twitter:    #00aced,
    instagram:  #517fa4,
    dribbble:   #ff0084
)